@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(199, 81%, 94%);
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-content {
  background-color: white;
  height: fit-content;
}

.calc-container {
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.calc-title {
  width: 100%;
}

.calc-title h1 {
  font-size: 1.8rem;
  margin: 0 0 1rem;
  color: hsl(223, 47%, 23%);
}

.calc-title a {
  color: gray;
  text-decoration: underline;
}

.calc-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 2rem 0;
  position: relative;
}

.input-group label,
.calc-form > label:not(.radio-container label) {
  color: gray;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  height: fit-content;
}

.input-group {
  width: 100%;
  height: fit-content;
}

.small-input {
  width: 100%;
}

.input-container input[type="number"],
.input-container div .input-container input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid hsl(223, 47%, 23%);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 2.5rem;
}

.input-container input[type="number"]:focus {
  outline: none;
  border: 1px solid hsl(60, 70%, 52%);
}

.input-container input[type="number"]:focus + .input-label {
  background-color: hsl(60, 70%, 52%);
}

#mortTerm,
#interestRate {
  padding-left: 1rem;
  padding-right: 2.5rem;
}

.input-label {
  position: absolute;
  padding: calc(0.75rem - 1px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: gray;
  font-weight: bold;
  pointer-events: none;
}

.left-label {
  left: 1px;
  background-color: hsl(202, 86%, 94%);
  border-radius: 5px 0 0 5px;
}

.right-label {
  right: 1px;
  background-color: hsl(202, 86%, 94%);
  border-radius: 0 5px 5px 0;
}

.radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid hsl(223, 47%, 23%);
  border-radius: 5px;
  padding: 1rem;
}

.radio-container label {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
  font-size: 1.2rem;
  height: 100%;
}

/* Custom radio button styling */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid hsl(223, 47%, 23%);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* Style the radio button when checked */
input[type="radio"]:checked {
  border: 2px solid hsl(60, 70%, 52%);
  border-color: hsl(60, 70%, 52%);
}

/* Create the inner dot when checked */
input[type="radio"]:checked::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: hsl(60, 70%, 52%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calc-form button[type="submit"] {
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 3rem;
  color: hsl(223, 47%, 23%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background-color: hsl(60, 70%, 52%);
  cursor: pointer;
}

.calc-form button[type="submit"] img {
  width: 1.8rem;
  height: auto;
  margin-right: 1rem;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: hsl(202, 54%, 16%);
}

.empty-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  color: white;
  text-align: center;
}

.empty-results p {
  color: hsl(203, 41%, 72%);
  margin-top: 1rem;
}

.completed-results {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  width: 100%;
  color: white;
}

.completed-results p {
  color: hsl(203, 41%, 72%);
  margin-top: 1rem;
}

.result {
  background-color: hsl(202, 56%, 12%);
  padding: 1.5rem 1rem;
  align-self: center;
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border-top: 3px solid yellow;
  color: hsl(203, 41%, 72%);
}

.result h3 {
  font-weight: 500;
  color: hsl(203, 41%, 72%);
}

.result hr {
  margin-bottom: 1rem;
  color: hsl(203, 41%, 72%);
}

#monthlyPay {
  font-size: 3rem;
  font-weight: bold;
  color: yellow;
  margin-bottom: 1rem;
}

#totalRepay {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 480px) {
  #calculator {
    width: 90%;
    margin: 1rem auto;
  }

  .calc-container {
    border-radius: 2rem 2rem 0 0;
    height: fit-content;
    padding-bottom: 5rem;
  }

  .result-container {
    border-radius: 4rem 4rem 2rem 2rem;
    margin-top: -5rem;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .empty-results,
  .completed-results {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  #calculator {
    width: 70%;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1024px) {
  #calculator {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .calc-container {
    width: 55%;
    border-radius: 2rem 0 0 2rem;
    padding: 1rem 4rem;
    padding-right: 6rem;
    height: 80vh;
  }

  .result-container {
    width: 45%;
    border-radius: 0 2rem 2rem 4rem;
    margin-top: 0;
    margin-left: -4rem;
    box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.1);
    height: 80vh;
  }

  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .small-input {
    width: 48%;
  }

  .radio-container {
    margin-bottom: 0.25rem;
  }

  .calc-form button[type="submit"] {
    width: 90%;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  #calculator {
    width: 80%;
  }

  .calc-container {
    width: 60%;
  }

  .result-container {
    width: 40%;
  }
}


